<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avantus Check String</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form action="{% url 'check_the_string' %}" method="post">
            {% csrf_token %}     
            <div class="form-row row">
                {% for field in form %}
                <div class="col-12 {% if forloop.first %}col-md-12{% else %}col-md-3{% endif %} mb-3">
                  <label for="validationDefault01">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary w-100">submit</button>
                </div>
            </div>
        </form>
    </div>
    {% if output_sample %}
    <br>
    <hr>
    <br>
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Input</th>
                <th scope="col">Output</th>
              </tr>
            </thead>
            <tbody>
                {% for k,v in output_sample.items %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{k}}</td>
                    <td>{{v}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    {% endif %}
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>